# HYPOTHESIS TESTING

TOEFL scores are play an important part in a student's admission into a university. Many universities may have minimun TOEFL scores for students to even be considered. 

The hypothesis we will look at is "More than 50% of students with TOEFL scores above 105 have a higher chance of admission (>80%)".

Thus, Null Hypothesis : p >= 50%

      Alternate Hypothesis : p < 50% 
      
      level of significance = 0.05

In [33]:
import pandas as pd
import numpy as np
import math
import scipy
import matplotlib.pyplot as plt
from matplotlib import pyplot
import seaborn as sns
sns.set_style('darkgrid')

In [9]:
original_df = pd.read_excel (r'C:\Users\SONY\Downloads\analyseddata.xlsx',index_col=0,header=0)
df0=pd.DataFrame(original_df)
print(df0)

            GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
1                 337          118                  4  4.5  4.5  9.65
2                 324          107                  4  4.0  4.5  8.87
3                 316          104                  3  3.0  3.5  8.00
4                 322          110                  3  3.5  2.5  8.67
5                 314          103                  2  2.0  3.0  8.21
...               ...          ...                ...  ...  ...   ...
496               332          108                  5  4.5  4.0  9.02
497               337          117                  5  5.0  5.0  9.87
498               330          120                  5  4.5  5.0  9.56
499               312          103                  4  4.0  5.0  8.43
500               327          113                  4  4.5  4.5  9.04

            Research  Chance of Admit
Serial No.
1                  1             0.92
2                  1             0.76
3                  1             0.72
4                  1             0.80
5                  0             0.65
...              ...              ...
496                1             0.87
497                1             0.96
498                1             0.93
499                0             0.73
500                0             0.84

[500 rows x 8 columns]

In [13]:
df=df0[df0['TOEFL Score']>105]
print(df)

            GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
1                 337          118                  4  4.5  4.5  9.65
2                 324          107                  4  4.0  4.5  8.87
4                 322          110                  3  3.5  2.5  8.67
6                 330          115                  5  4.5  3.0  9.34
7                 321          109                  3  3.0  4.0  8.20
...               ...          ...                ...  ...  ...   ...
490               302          110                  3  4.0  4.5  8.50
496               332          108                  5  4.5  4.0  9.02
497               337          117                  5  5.0  5.0  9.87
498               330          120                  5  4.5  5.0  9.56
500               327          113                  4  4.5  4.5  9.04

            Research  Chance of Admit
Serial No.
1                  1             0.92
2                  1             0.76
4                  1             0.80
6                  1             0.90
7                  1             0.75
...              ...              ...
490                0             0.65
496                1             0.87
497                1             0.96
498                1             0.93
500                0             0.84

[289 rows x 8 columns]

In [14]:
df[df['Chance of Admit']>0.8]

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
6,330,115,5,4.5,3.0,9.34,1,0.90
12,327,111,4,4.0,4.5,9.00,1,0.84
23,328,116,5,5.0,5.0,9.50,1,0.94
24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...
483,328,113,4,4.0,2.5,8.77,1,0.83
496,332,108,5,4.5,4.0,9.02,1,0.87
497,337,117,5,5.0,5.0,9.87,1,0.96
498,330,120,5,4.5,5.0,9.56,1,0.93
500,327,113,4,4.5,4.5,9.04,0,0.84

In [22]:
n = 289
x = 141
p0 = 0.5
p1 = x/n
los = 0.05
print(p1)
print(n * p0)
print(n * (1-p0))

0.48788927335640137
144.5
144.5

In [23]:
variance = math.sqrt(p0*(1-p0)/n)
print(variance)

0.029411764705882353

In [32]:
z = (p1-p0)/variance
print(z)

-0.4117647058823536

In [34]:
p_value= scipy.stats.norm.sf(abs(z))
print(p_value)

0.34025594645084306

# Since p_value > level of significance, we must accept null hypothesis